
form .input-box {
    width: 100%;
    margin-top: 10px;
    position: relative;
}

form .input-box label {
    position: absolute;
    top: 13px;
    left: 25px;
    font-size: 13px;
    font-weight: 500;
}

form .input-box .line {
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 1.5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #DC2AFF;
    border-radius: 5px;
}

form .input-box input {
    font-weight: 500;
    width: 80%;
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 5px;
}

form .sub, .continue {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
form .sub button, .continue a {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-weight: 500;
    font-size: 15px;
    background-color: #BF00FF;
    border-radius: 7px;
}
.error-pass {
    margin-left: 25px;
    font-size: 11px;
    margin-top: 0px;
    color: red;
}

h3, h1 {
    margin: 20px;
    text-align: center;
    font-weight: 500;
}

.continue a {
    text-decoration: none;
}

.p {
    text-align: center;
    font-weight: 450;
    font-size: 13px;
    margin: 30px;
}

.icon {
    text-align: center;
    margin-top: 30px;
}
.icon i {
    font-size: 30px;
}