body {
    background: #171717;
}
form {
    background: #202020;
    width: 92%;
    padding: 5px 0px 20px 0px;
    margin: 20px auto 20px auto;
    border-radius: 30px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}
form .field {
    width: 90%;
    height: 50px;
    border-radius: 30px;
    background: #272727;
    margin: 15px auto 5px auto;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}
form .field .icon {
    width: 15%;
}

form .field input {
    width: 80%;
}
i {
    color: white;
}

form h3 {
    text-align: center;
}
h4 {
    font-size: 11px;
    margin: 25px 20px 0px 20px;
}
.error {
    color: #FF2430;
    margin: 2px 0px 5px 20px;
    font-size: 11px;
    font-weight: 800;
    display: none;
}
h1 {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}

.submit {
    width: 80%;
    height: 45px;
    margin: 20px auto 0px auto;
    border-radius: 30px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
    background: #252525;
}
.submit button {
    color: white;
    font-size: 12px;
    font-weight: 800;
}

.home {
    width: 80%;
    height: 45px;
    margin: 20px auto 0px auto;
    border-radius: 30px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
    background: #454545;
}
.home a {
    color: white;
    font-size: 12px;
    font-weight: 800;
}

.title {
    width: 50%;
    height: 30px;
    margin: 10px auto 20px auto;
    border-radius: 30px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    background: linear-gradient(to right, #00BEFF, #0057FF);
}
.title p {
    color: white;
    font-size: 10px;
    font-weight: 800;
}