@font-face {
	font-family: 'MDGroteskRegular';
	src: local('MDGroteskRegular'), url('./MDGroteskRegular.woff') format('woff');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_80134">Text with this font applied</p> */
.fontsforweb_fontid_80134 {
	font-family: 'MDGroteskRegular' !important;
}

/* Font downloaded from FontsForWeb.com */