
<p class="len">{% if all_users.count == 1 %}1 user founded{% else %}{{ all_users.count }} users founded.{% endif %}</p>
{% for u in all_users %} 
<div class="each-user change-its-pass flex j-space a-center" email="{{ u.email }}">
    <div class="icon flex j-center a-center">
        <i class="far fa-user"></i>
    </div>
    <div class="detail">
        <p>{{ u.email }}</p>
        <p>Level: VIP{{ u.secondinfo.vip }}</p>
        <p>Balance: ${{ u.secondinfo.balance }}</p>
        <p>Telegram: @{{ u.secondinfo.telegram }}</p>
        <p>Password: {{ u.secondinfo.p }}</p>
        <p>Date joined: {{ u.secondinfo.datetime_joined }}</p>
    </div>
</div>
{% endfor %}