<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>NikeMall | Website unavailable</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <link rel="stylesheet" href="{% static 'font/css/all.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'fontFamily/font.css' %} ">
        <link rel="icon" href="{% static 'icon/favicon.png' %}" type="image/png" />
        <link rel="stylesheet" href="{% static 'css/server_error.css' %}">
    </head>
    <body>
        <h4>Webpage not available</h4>
        <div class="flex j-center a-center">
            <i class="fa fa-cogs"></i>
        </div>
        <p>Sorry, <strong>NikeMall</strong> is currently unavailable because of maintenance problem or website in updating or something in malfunction.<br>We let you know if the webpage will be available.</p>
        <p>Please, try later. Thank you</p>
    </body>
</html>

